@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Source+Sans+Pro&display=swap');
:root {
    --primary-color: #284D77;
    --secondary-color: #F0FDFC;
    --accent1-color: #7EAAC9;
    --accent2-color: #B9650A;

    --heading-font:'Braah One', sans-serif;
    --paragraph-font:'Source sans pro', sans-serif;

    --nav-background-color: #284D77;
    --nav-link-color: #CECAC8;
    --nav-hover-link-color: #B9650A;
    --nav-hover-background-color: #7EAAC9;
}
.info img {
    float: right;
    position:absolute;
    top:150px;
    left: 1150px;
    right: 0px;
}
.info p {
    float: left;
    position:absolute;
    top:200px;
    left: 200px;
    right: 800px;
    color: white;

}
.herodiv img {
    display: block;
	width: 100%;
	height: auto;
	
}
.herodiv{
    position: relative;
}
h1{
    position:absolute;
    top:50px;
    left: 700px;
    right: 0px;
    color: white;
    font-family: var(--heading-font);
}
body{
    font-family: var(--paragraph-font);
    padding: 20px;
} 
h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
}
nav{
    font-size: 1.2rem;
    display: flex;
}
nav a{
    padding: 1rem;
}